@charset "utf-8";

footer
{
	bottom: 0;
	width: 100%;
}

p{
    color:#999;
    line-height: 25px;
    font-size:14px;
}
h2,h4{
    color:#fff;
    text-decoration: none;
}
h2{
    font-size:18px;
}
.gap{
    margin-top:7px;
}
.gap1{
    margin-top:18px;
}
.footer-top{
    background:#000;
    padding:80px 0;
    padding-top:0px;
    padding-bottom:30px;
}
.segment-one{
    margin-top:10px;
	padding-left: 20px;
}

.segment-one h4{
    font-family: poppins;
    display: inline-flex;
    flex-direction: column;
    letter-spacing:3px;
    margin:10px 0;
    text-decoration:none;

}
.segment-one a:hover{
    color: #00FFFF;
    
}

.segment-one h4:before, h4::after{
    content: '';
    border-bottom: 2px solid #00FFFF;
    order: 3;
    width: 50%;
    margin-top:4px;
    text-decoration: none;
   
}

.segment-one h4:after{
    margin-left: auto;
    margin-top: -2px;
    border-color: white;
    
}
.segment-two{
    margin-left:-15px;
}
.segment-two h2{
    color:#fff;
    font-family:poppins;
    text-decoration:uppercase;
    
}
.segment-two a:hover{
    color:#00FFFF;
    
    
}

.segment-two h2::before{
    content:"|";
    color:#00FFFF;
    border-bottom: 2px;
    padding-right:10px;
}
.segment-two ul{
    margin: 0;
    padding:0;
    list-style: none;
}


.segment-two ul li{
    border-bottom:1px solid rgba(255,255,255,0.3);
    line-height:38px;
}

.segment-two ul li a{
    color:#fff;
    text-decoration: none;

}
.segment-two ul li a:hover{
    color:#00FFFF;
    text-decoration: none;
    transition:0.5s;

}
.get:hover{
    color:#00FFFF; 
}
.segment-three h2{
    color:#fff;
    font-family:Poppins;
    text-transform:uppercase;
}

.segment-three h2:before{
    content:"|";
    color:#00FFFF;
    padding-right:10px;

}
.segment-three .n{
    background:#00FFFF;
    width:40px;
    height:40px;
    display:inline-block;
    border-radius:50%;
    box-shadow:0 5px 8px -5px;
    color:#fff;
}
.segment-three p{
    text-decoration:none;
}
.segment-three p:hover{
    color:#00FFFF;
    text-decoration:none;
}


.n:hover{
    background-color:#fff;
    opacity:0.15;
}

.segment-three a i{
    font-size:20px;
    color:#000;
    padding:10px 12px;
}
.segment-four h2{
    color:#fff;
    font-family:Poppins;
    text-transform:uppercase;
}
.segment-four h2:before{
    content:"|";
    color:#00FFFF;
    padding-right:10px;

}
.segment-four form input[type=submit]{
    background:#00FFFF;
    border-radius:4px;
    padding:3px 15px;
    margin-left:px;
    color:#000;
    text-transform:uppercase;
    margin-top:22px;
    font-weight:bold;
    box-shadow:0 5px 8px -5px #00FFFF;

}
.segment-four form input{

    border:none;
    cursor:#000;
}

address
{
	color: white;
  	font-style: italic;
}
.footer-bottom-text{
    text-align:center;
    background:#111;
    line-height:40px;
    margin-bottom:30px;
    font-size:12px;

}

@media screen and (min-width:768px) and (max-width:991px){
    .md-mb-30{
        margin-bottom:30px;
    }
}
@media screen and (max-width:767px){
    .sm-mb-30{
        margin-bottom:30px;
    }
	
    .footer-top{
        padding:50px;
    }
}
